@font-face
    font-family 'Open Sans'
    font-style normal
    font-weight 400
    src local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff2) format('woff2')
    unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

body
    margin-top 50px
    font-family 'Open Sans', sans-serif

.navbar-inverse
    border 0
    box-shadow 0 0 10px #d0303e

.navbar-brand,
.navbar-right li > a
    padding-top 5px
    padding-bottom 5px
    img
        display inline-block
        height 40px
        width @height

.jumbotron
    color #fff
    text-align center
    height calc(100vh - 51px)
    margin 0

.jumbotron#intro
    background linear-gradient(45deg, #d0303e 0%, #b32841 25%, #9a2b4d 50%, #7c3a6d 75%, #5d3375 100%)
    img
        max-width 100%
        max-height calc(100vh - 256px)

.jumbotron#featuredon
    background #d0303e
    height initial
    a
        color #fff
    a:hover
        color #ecdbff

.jumbotron#download
    height calc(100vh - 85.3px)
    background linear-gradient(135deg, #d0303e 0%, #b32841 25%, #9a2b4d 50%, #7c3a6d 75%, #5d3375 100%)
    p
        margin-bottom 50px
        a
            color #fff

.btn-default.btn-lg
    height 50px
    width 80%
    margin 5px auto
    background-color #5d3375
    border-color #d0303e
    color #fff
    box-shadow #b32841 -2px -4px 0px 0px inset
    small
        display none

@media screen and (min-width 992px)
    .btn-default.btn-lg
        height 65px
        small
            font-size 12px
            display block

.btn-default.btn-lg:active,
.btn-default.btn-lg:focus,
.btn-default.btn-lg:hover
    background-color #7c3a6d
    border-color #d0303e
    color #fff
    box-shadow #b32841 2px 4px 0px 0px inset

footer
    background-color #5d3375
    color #fff
    font-size 12px
    text-align center
    p
        margin 0
    a,
    a:active,
    a:focus,
    a:hover
        color #fff
