<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Soundcloud for desktop Windows/Mac/Linux. No need to install and media keyboard support</title>

    <!-- metas -->
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Download Soundcloud for desktop Windows/Mac/Linux, no need to install and native media keyboard available">

    <meta property="og:title" content="Download Soundcloud for desktop Windows/Mac/Linux, no need to install and native media keyboard available">
    <meta property="og:site_name" content="Soundnode App">
    <meta property="og:url" content="http://www.soundnodeapp.com">
    <meta property="og:image" content="http://www.soundnodeapp.com/images/fbog.png">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Soundcloud for desktop Windows/Mac/Linux">

	<!-- STYLES -->
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/app.css">

</head>
<body>
    
    <header class="header">
        <a class="logo" href="/" title="Soundnode - Soundcloud for desktop Windows/Mac/Linux">
            <img src="images/logo.120.png" alt="Soundnode App - Soundnode for desktop Windows, Mac and Linux">
            <strong>v0.6.1</strong>
        </a>

        <nav class="nav">
            <ul class="menu">
                <li class="menu_item">
                    <a href="https://github.com/Soundnode/soundnode-app/blob/master/README.md" target="_blank" title="about soundnode the soundcloud for desktop windows, mac and linux">About</a>
                </li>
                <li class="menu_item gh">
                    <a href="https://github.com/Soundnode/soundnode-app.git" target="_blank" title="Contribute with Soundnode on Github"><i class="fa fa-github-square"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- background view -->
    <div class="soundnode">
        <img src="images/Soundnode-app.png" class="soundnode_screenshot">
    </div>
    <!-- background view / end -->
    
    <!-- main content -->
    <div class="main">
        <div class="buttons">
            <a href="http://www.soundnodeapp.com/downloads/win/Soundnode-App.zip" class="button" title="Download Soundcloud for desktop Windows">Windows
               <i class="fa fa-windows"></i> <small>size 29mb</small>
            </a>
            <a href="http://www.soundnodeapp.com/downloads/mac/Soundnode-App.zip" class="button" title="Download Soundcloud for desktop Mac">Mac
                <i class="fa fa-apple"></i> <small>size 36mb</small>
            </a>
            <br>
            <a href="http://www.soundnodeapp.com/downloads/linux64/Soundnode-App.zip" class="button" title="Download Soundcloud for desktop Linux">Linux (64)
                <i class="fa fa-linux"></i> <small>size 37mb</small>
            </a>
            <a href="http://www.soundnodeapp.com/downloads/linux32/Soundnode-App.zip" class="button" title="Download Soundcloud for desktop Linux">Linux (32)
                <i class="fa fa-linux"></i> <small>size 37mb</small>
            </a>
        </div>

        <footer class="footer">
            <small>Built with <i class="fa fa-heart"></i> by <a href="http://bymichaellancaster.com" title="Soundnode was built with love by Michael Lancaster" target="_blank">Michael Lancaster</a> - Copyright 2015</small>
        </footer>

    </div>

</body>
</html>
