<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Soundcloud for desktop Windows/Mac</title>

    <!-- metas -->
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Soundcloud for desktop Windows/Mac">

    <meta property="og:title" content="Soundcloud for desktop Windows/Mac">
    <meta property="og:site_name" content="Soundnode App">
    <meta property="og:url" content="http://www.soundnodeapp.com">
    <meta property="og:image" content="http://www.soundnodeapp.com/images/fbog.png">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Soundcloud for desktop Windows/Mac">

	<!-- STYLES -->
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/app.css">

    <!-- preload assets -->
    <script src="javascripts/lib/imagespreloader.min.js"></script>
    <script src="javascripts/app.js"></script>

</head>
<body>

    <!-- loader -->
    <div id="loader" class="viewState" data-isVisible="true">
        <img src="images/loading3.gif" alt="loading Soundnode - Soundcloud for Desktop">
    </div>
    <!-- loader / end -->

    <!-- background view -->
    <div class="container viewState" data-isVisible="false" data-currentSlide="1">
    </div>
    <!-- background view / end -->

    <div class="container_outter viewState" data-isVisible="false">
        <header class="header">
            <a class="logo" href="/" title="Soundnode - Soundcloud for desktop Windows/Mac">
                <img src="../images/logo.120.png">
								<strong>V0.4.0</strong>
            </a>

            <nav class="nav">
                <ul class="menu">
                    <li class="menu_item">
                        <a href="https://github.com/Soundnode/soundnode-app.git" target="_blank" title="Contribute with Soundnode on Github"><i class="fa fa-github-square"></i></a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="main">
            <h2 class="highlight">
                Soundcloud for desktop.
                <br>
                <small class="platformSupport">(Beta release)</small>
            </h2>

            <div class="buttons">
            		<a href="http://goo.gl/Y46Hn8" class="button" title="Download Soundcloud for desktop Windows/Mac">Windows download
					   <i class="fa fa-windows"></i> <small>size 42.4mb</small>
                    </a>
					<a href="http://goo.gl/wDlo2c" class="button" title="Download Soundcloud for desktop Windows/Mac">Mac download
						<i class="fa fa-apple"></i> <small>size 74mb</small>
                    </a>
            </div>
            <div class="features">
                <h3 class="features_title">Features</h3>
                <ul class="features_list">
                    <li class="features_list_item">- No need to install</li>
                    <li class="features_list_item">- Native media keyboard shortcuts</li>
                    <li class="features_list_item">- Desktop song notification</li>
                    <li class="features_list_item">- Back/Forward navigation</li>
                    <li class="features_list_item">- Listen to songs from your Stream, Likes, Tracks, Following or Playlists</li>
                    <li class="features_list_item">- Save songs to your Like playlist</li>
                    <li class="features_list_item">- Search for songs</li>
                    <li class="features_list_item">- Automatic notification for update</li>
                </ul>
            </div>

            <footer class="footer">
                <small>Made with <i class="fa fa-heart"></i> by <a href="http://bymichaellancaster.com" title="Soundnode was built with love by Michael Lancaster" target="_blank">Michael Lancaster</a> - Copyright 2014</small>
            </footer>

        </div>
    </div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-50919802-1', 'soundnodeapp.com');
ga('send', 'pageview');

</script>

</body>
</html>
