/* ==========================================================================
@Defaults
========================================================================== */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font: 62.5% 'Open Sans', sans-serif;
    color: #fff;
}

a {
    color: #333;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

/* ==========================================================================
@Container
========================================================================== */


/* ==========================================================================
@Header
========================================================================== */
.header {
    width: 100%;
    height: 80px;
    box-shadow: 0 0 5px #ccc;
    padding: 10px 10%;
}

.logo {
    float: left;
}

.nav {
    float: right;
    color: #333;
    margin-top: 10px;
}

.menu_item {
    display: inline-block;
    font-size: 18px;
}
.menu_item.gh {
    font-size: 26px;
    margin: 0 0 0 10px;
}

/* ==========================================================================
@Main
========================================================================== */
.soundnode {
    position: relative;
    width: 100%;
    margin: 40px auto 0px;
    -webkit-animation: intro 2s ease;
    -moz-animation: intro 2s ease;
    -ms-animation: intro 2s ease;
    animation: intro 2s ease;
}

.soundnode_screenshot {
    max-width: 100%;
}

/* buttons */
.buttons {
  width: 550px;
  margin: 0 auto 100px;
}

.button {
    background: rgb(211, 84, 0);
    border-bottom: 2px solid rgb(197, 78, 0);
    box-shadow: rgb(197, 78, 0) 0px -2px 0px 0px inset;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    min-height: 60px;
    letter-spacing: normal;
    position: relative;
    text-align: center;
    width: 230px;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    margin: 10px 20px;
    font-weight: lighter;
    border-radius: 5px;
    text-shadow: 0 0 5px #fff;
    padding: 10px 0;
    -webkit-animation: intro 2s ease;
    -moz-animation: intro 2s ease;
    -ms-animation: intro 2s ease;
    animation: intro 2s ease;
}
.button small {
  font-size: 12px;
  display: block;
}


/* ==========================================================================
@Footer
========================================================================== */
.footer {
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: #333;
}
.footer i {
    color: #d35400;
}


/* ==========================================================================
@FX
========================================================================== */

@-webkit-keyframes intro {
    0%{
        opacity: 0;
        -webkit-transform: translateY(80px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes intro {
    0%{
        opacity: 0;
        -webkit-transform: translateY(80px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-ms-keyframes intro {
    0%{
        opacity: 0;
        -webkit-transform: translateY(80px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@keyframes intro {
    0%{
        opacity: 0;
        -webkit-transform: translateY(80px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}